@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ComingSoon";
  src:
    url("/fonts/ComingSoon.woff2") format("woff2"),
    url("/fonts/ComingSoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family-sans: "ComingSoon", sans-serif;
  --font-nunito-variable: "Nunito Variable", sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 225%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 32 90% 53%;
    --primary-foreground: 18 100% 98%;
    --secondary: 23 79% 27%;
    --secondary-foreground: 240 5.9% 10%;
    --terciary: 186 96% 18%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 186 96% 18%; /*240 10% 3.9%;*/
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --izipay: 178 63% 53%;
    --izipay-foreground: 178 63% 93%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Izipay */

.kr-popin-button {
  @apply bg-izipay hover:scale-105 !important;
  @apply transition-transform duration-300 !important;
  @apply text-white !important;
  @apply w-full !important;
  @apply rounded-3xl !important;
  @apply font-bold !important;
  @apply h-16 !important;
}

.kr-card-form {
  @apply w-[30rem] !important;
  @apply shadow-lg !important;
}

.kr-popin-wrapper {
  @apply bg-white/10 backdrop-blur-sm !important;
}

.kr-popin-modal-header-background {
  @apply bg-izipay !important;
  @apply border-none !important;
}

.kr-field-element {
  @apply text-foreground !important;
  @apply rounded-md !important;
}

.kr-payment-button {
  @apply bg-izipay !important;
  @apply text-white !important;
  @apply rounded-md !important;
  @apply text-center font-bold !important;
}

.kr-header-logo {
  @apply bg-white !important;
}
.kr-popin-modal-header-image .kr-header-logo {
  content: url("../assets/images/logo-chaqchao.webp") !important;
}
.kr-installment-number,
.kr-first-installment-delay {
  @apply hidden !important;
}
.kr-form-error-visible {
  @apply bg-rose-500 !important;
  @apply rounded-xl !important;
}

.kr-form-error span > span {
  @apply text-rose-500 !important;
}
